services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_CONNECTION=postgresql://postgres:postgres@betteruptime-postgres:5432/betteruptime?sslmode=disable
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
    depends_on:
      - betteruptime-postgres
    restart: unless-stopped
    networks:
      - better-uptime-network

  betteruptime-postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=betteruptime
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/migrations:/docker-entrypoint-initdb.d
    networks:
      - better-uptime-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    networks:
      - better-uptime-network
    restart: unless-stopped

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  blackbox:
    image: prom/blackbox-exporter
    ports:
      - "9115:9115"
    volumes:
      - ./blackbox.yml:/etc/blackbox_exporter/config.yml
    command:
      - "--config.file=/etc/blackbox_exporter/config.yml"

volumes:
  postgres_data:


networks:
  better-uptime-network:
    driver: bridge
